<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Meta • instagram</title>
  <style type="text/css" media="all">
   * {
     margin:0;
     padding:0;
   }
    body , html {
      width:100%;
      height:100%;
      text-align:center;
      background:linear-gradient(to top, hsl(198, 93.2%, 59.6%), hsl(212,
    96.4%, 98.4%), hsl(213, 96.9%, 87.3%));
    }
    .meta {
     background:linear-gradient(to right top, hsl(333, 71.4%, 50.6%), hsl(0,
        84.2%, 60.2%), hsl(217, 91.2%, 59.8%));
    color:transparent;
    background-clip:text;
    }
    h1 {
      margin-top:50px;
    }
    h2 {
      margin:15px;
    }
    h4 {
      margin:30px;
    }
    p {
      margin:10px;
    }
  </style>
</head>
<body>
  <div>
    <h1> <span class="meta">Meta</span> verified</h1>
    <h2>Your account has been verified</h2>
    <div class="small-container">
      <div>
        <h4>Details:</h4>
        <p><span style="font-weight:500;">Reports:</span>Zero(no)</p>
        <p><span style="font-weight:500;">Restrict:</span>Zero(no)</p>
        <p><span style="font-weight:500;">Viral content:</span><span id="content"></span></p>
        <p><span style="font-weight:500;">Fake followers:</span> <span id="followers"></span></p>
        <p><span style="font-weight:500;">Blue tick:</span>No</p>
      </div>
      <div>
        <h2>Thank you for visiting</h2>
      </div>
    </div>
  </div>
  <script type="text/javascript" charset="utf-8">
    const contents = ["musical reels", "Educational reels" , "Dance reels",
    "sponsor reels", "transformation reels", "graphics reels", "songs reels",
    "AI reels", "business reels", "aesthetic reels", "health reels", "All type"];
    function fun() {
     let num =    Math.floor(Math.random() * contents.length);
     document.getElementById("content").innerText = contents[num]
     let num2 = Math.floor(Math.random() * 50);
      document.getElementById('followers').innerText = num2;
    } fun()
  </script>
</body>
</html>